@import "tailwindcss";

:root {
  --background: rgb(3, 2, 8);
  --foreground: #FFFFFF;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
